<ion-view title="Settings" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="settings-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1" name="ShowAllAdventures">Show All Adventures</ion-toggle>
      <ion-item class="range range-positive" id="settings-range1">Adventure Distance
        <input type="range" value="25" min="1" max="100" step="5" name="AdventureDistance">
      </ion-item>
    </form>
    <a ui-sref="login" id="settings-button12" class="button button-assertive  button-block">Logout</a>
  </ion-content>
</ion-view>