<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list7">
        <label class="item item-input" id="signup-input3" name="Email">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input5" name="Password">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <a ui-sref="tabsController.adventures" id="signup-button5" class="button button-stable  button-block">Create Account</a>
    </form>
  </ion-content>
</ion-view>