<ion-view title="Venture" id="page3" hide-nav-bar="true" style="background-color:Balanced;">
    <ion-content padding="false" class="manual-remove-top-padding has-header">
        <div id="map" data-tap-disabled="true" scroll="false" alt="Google maps is loading"></div>
        <div class="row ">
            <div class="col vert-center-arrow text-center">
                <img id="myarrow" src="img/arrow.png"/>
            </div>
        </div>
        <div class="bar">
            <h3 id="instrucText" style="text-align: center; padding: 10px; margin: 0px; color: #fff; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;"></h3>
        </div>
    </ion-content>
</ion-view>
